@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  vertical-align: baseline;
}

/* Opcionalmente, se pueden agregar estilos globales para el cuerpo y los encabezados */

body {
  font-family: 'Orienta', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  min-height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
}
button {
  border: none;
  outline: none;
  font-weight: bold;
  border-radius: 0.4rem;  
  cursor: pointer;
}

